log/*.log
log/*.pid
db/*.db
db/*.sqlite3
db/schema.rb
tmp/**/*
.DS_Store
doc/api
doc/app
config/database.yml
autotest_result.html
coverage
public/javascripts/*_[0-9]*.js
public/stylesheets/*_[0-9]*.css
public/attachments

.DS_Store
.*.sw?
/.pow*
/.rvmrc
/.rbenv-version
/.tags*
Thumbs.db
.vagrant
.bash/user.sh
.env.local
