[color]
  diff = auto
  grep = auto
  interactive = auto
  status = auto
  branch = auto
  status = auto
  ui = auto

[alias]
  st = status -sb
  s = status -sb
  ci = commit
  wip = !git add . && git commit -am 'WIP :construction:'
  stash-all = stash save --include-untracked
  b = branch
  d = diff
  pf = push --force-with-lease
  ap = add --patch
  ds = diff --staged
  tags = tag -l
  com = checkout master
  branches = branch -a
  remotes = remote -v
  sp = stash pop
  rc = rebase --continue
  rim = rebase -i master
  prune = fetch --prune
  r = reset
  undo = reset --soft HEAD^
  fup = log --since '1 day ago' --oneline --author andriel.nuernberg@plataformatec.com.br
  rank = shortlog -sn --no-merges
  cl = "!git log $1..${2:-master} --oneline --no-merges --pretty=format:'- %s (%h)'"
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  ls = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short
  lf = log --pretty=format:'%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]' --decorate --date=short --numstat
  co = checkout
  fix = commit --amend
  fixx = !git add . && git commit --amend --no-edit
  pom = push origin master
  latest = for-each-ref --count=10 --sort=-committerdate --format='%(committerdate:short) %(refname:short)'

[core]
  editor = subl -w -n
  excludesfile = ~/.gitignore
  pager = diff-so-fancy | less --tabs=1,5 -R
  whitespace = warn

[include]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/src/personal"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/src/ptec"]
  path = ~/.gitconfig-work

[push]
  default = current
  followTags = true

[merge]
  ff = false
  conflictstyle = diff3

[pull]
  rebase = true

[commit]
  template = ~/.gitmessage
  #gpgsign = true

[status]
  showUntrackedFiles = all

[diff]
  tool = icdiff
[difftool]
  prompt = false
[difftool "icdiff"]
  cmd = /usr/local/bin/icdiff --line-numbers $LOCAL $REMOTE

[gpg]
  program = /usr/local/bin/gpg

[github]
  user = diegorv
