[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "diff"]
  commit = yellow
  frag = cyan reverse
  meta = black
  new = green
  old = red
  plain = black
  whitespace = normal red
[alias]
  b = branch
  ca = commit --amend
  ci = commit
  co = checkout
  dw = diff --word-diff
  fl = log -p
  lg = log --oneline --decorate
  sb = status -sb
  sh = !git-sh
  st = status
  who = shortlog -s --
  l = !git --no-pager lp -20
  lme = !GIT_USERNAME="$(git config user.name)" && git --no-pager lp --author="\"$GIT_NAME\""
  lpme = !GIT_USERNAME="$(git config user.name)" && git lp --author="\"$GIT_NAME\""
  lp = log --pretty=format:'%C(red dim)%h%Creset %C(yellow dim)%an%C(green) %cd%C(reset)%C(white) %s%Creset -%C(blue dim)%d%Creset' --date=format:'%Y%m%d %R'
[help]
  autocorrect = 1
[branch]
  autosetuprebase = always
[push]
  default = current
[commit]
  template = ~/.gitmessage
  gpgsign = true
[core]
  excludesfile = ~/.gitignore
  attributesfile = ~/.gitattributes
	editor = subl -n -w
[merge]
  ff = only
[fetch]
  prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
